@import "/home/ankur/.config/swaync/themes/theme.css";

/* DND widget */
.widget-dnd {
    margin: 8px;
    font-size: 1.1rem;
    color: @main;
}
.widget-dnd > switch {
    font-size: initial;
    border-radius: 20px;
    border: 2px solid @back;
    background: @gray;
    box-shadow: none;
    color: @fore;
}
.widget-dnd > switch:checked {
    background: @main;
    color: @back-alt;
    border-radius: 20px;
}
.widget-dnd > switch slider {
    background: @back-alt;
    border-radius: 20px;
    border: none;
    margin: 5px;
}
.widget-dnd > switch:not(:checked) slider:hover {
  background: @red;
}

.widget-dnd > switch:checked slider {
  background: @back-alt;
}

