/**
 *
 * Colors
 *
 * Available Colors Schemes
 *
 * adapta    catppuccin    everforest
 * arc       cyberpunk     gruvbox    nord
 * dracula   lovelace      onedark    yousai
 *
 **/

/* Import color-scheme from `colors` directory */

@import "~/.config/rofi/themes/Dracula.rasi"
